<table class="table">
  <thead>
    <tr class="table-success" >
      <th scope="col">No</th>
      <th scope="col">Nama Team</th>
      <th scope="col">Win-Lose</th>
      <th scope="col">Point</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-dark">
      <th scope="row">1</th>
      <td>EVOS</td>
      <td>12-2</td>
      <td>85%</td>
    </tr>
    <tr class="table-dark">
      <th scope="row">2</th>
      <td>RRQ Hoshi</td>
      <td>10-9</td>
      <td>65%</td>
    </tr>
    <tr class="table-dark">
      <th scope="row">3</th>
      <td>ONIC</td>
      <td>11-7</td>
      <td>76%</td>
    </tr>
  </tbody>
</table>
