<table class="table">
  <thead>
    <tr class="table-success" >
      <th scope="col">No</th>
      <th scope="col">Match 1</th>
      <th scope="col">Jadwal Pertandingan</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-dark">
      <th scope="row">1</th>
      <td>EVOS VS ONIC</td>
      <td>17:00 , Senin, 27 Oktober 2021</td>
    </tr>
    <tr class="table-dark">
      <th scope="row">2</th>
      <td>RRQ Hoshi VS Alter Ego</td>
      <td>15:00 , Selasa, 28 Oktober 2021</td>
    </tr>
    <tr class="table-dark">
      <th scope="row">3</th>
      <td>ONIC VS RRQ Hoshi</td>
      <td>13:00 , Rabu, 29 Oktober 2021</td>
    </tr>
  </tbody>
</table>
